/*

--- GLOBAL ---

 */

*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    @include font-size;
}

body {
    background-color: $color-light;
    font-family: $font-primary;
    color: $color-primary;
    font-size: 1.6rem; // 16px
    line-height: 1.5;
}

::selection {
    color: $color-light;
    background: $color-dark;
}