/*

--- FOOTER ---

 */

.footer {
    background-color: $color-gray-10;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer__item {
    margin: 0 2rem;

    &:first-child {
        margin-left: 0;
    }
}

.footer__item--description {
    font-size: 1.4rem;
    color: $color-gray-50;
}
