/*

--- CONTENT ---

 */

.content {
    line-height: 1.75;
    margin-bottom: $spacing-large;
}

.content__group {
    & + .content__group {
        margin-top: $spacing-middle;
    }
}

.content__item {
    padding: $spacing-small 0;
}
